#search {
	border: none;
    border-bottom: 5px solid white;
    border-radius: 0;
    width: auto;
    margin: auto;
    outline: none;
    background-color: #a2ccbe;
    color: white;
    text-align: center;
    font-size: 1em;
}

#search:focus {
    outline: none;
    box-shadow: none;
}

#splash {
	background-color: #a2ccbe;
	border-radius: 0;
	color: white;
	text-align: center;
	font-size: 3em;
	font-family: "Airport Mono";
}