.Select-input {
	min-width: 200px;
}

.Select-input input {
	border: none;
    border-bottom: 5px solid white;
    border-radius: 0;
    /*width: auto;*/
    margin: auto;
    outline: none;
    background-color: #a2ccbe;
    color: white;
    text-align: center;
    font-size: 1em;
    min-width: 200px;
}

.Select-input input:focus {
    outline: none;
    box-shadow: none;
}

.Select-placeholder {
	display: none;
}

.Select-menu-outer {
	font-size: .6em;
}

.Select-option:hover{
	color: grey;
}

/*.Select-control {
	width: auto;
}*/

#splash {
	background-color: #a2ccbe;
	border-radius: 0;
	color: white;
	text-align: center;
	padding-top: 25vh;
	font-size: 3em;
	font-family: "Airport Mono";
	height: 100vh;
}