#topic {
	padding: 30px;
}

#topic resources{
	background-color: #a2ccbe;
	padding: 10px;
}

#companies img {
	height: 75px;
}

#companies li {
	list-style-type: none;
	float: left;
	padding: 0px 30px;
	text-align: center;
}

#companies ul{
	display: inline;
}

#resources li {
	list-style-type: none;
}

#resources svg {
	margin-right: 10px;
}

#related li {
	list-style-type: none;
}

#related svg {
	margin-right: 10px;
}